@font-face {
	/* Définition of font called Netflix sans*/
	font-family: 'Netflix';
	src: url('../../../public/fonts/netflix_sans/NetflixSansRegular.ttf')
		format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

