
@keyframes fade {
    from { opacity: 0;}
    to   { opacity: 1;}
}

@keyframes fadein {
    from { opacity: 0; transform: translateY(50px);}
    to   { opacity: 1;  transform: translateY(0);}
}

@keyframes modalopen {
  from { opacity: 0; transform: translateY(200px); }
  to { opacity: 1; }
  }

  @keyframes fadeout {
    from { opacity: 0;}
    to   { opacity: 1;}
}