$primary: #000;
$secondary: #141414;
$tertiary: #222;
$quaternary: #ccc;

$greyDark: #7e7e7e;
$notflixRed: #cc3333;
$active: #ccc;

$primary-text: #fff;
$text-shadow: #000;


// slidder image heights
$slidderImgSHeightSmallScreen: 190px;
// $slidderImgSHeightTabletteScreen: 180px;
$slidderImgSHeightLaptopScreen: 170px;
$slidderImgSHeightLaptopLargeScreen: 180px;

// $banner image heights
$bannerImgSHeightMobileSmall: 500px;
$bannerImgSHeightMobileMedium: 550px;
$bannerImgSHeightTabletteScreen: 600px;
$bannerImgSHeightLaptopScreen: 700px;
$bannerImgSHeightLaptopLargeScreen: 850px;

// breakpoints
$mobileMedium: 425px;
$mobileXtraLarge: 600px;
$tablette: 768px;
$laptop: 1024px;
$laptopLarge: 1440px;
$Xtralarge: 1700px;
$XXtralarge: 1950px;

