// colors
$primary: #000;
$secondary: #141414;
$tertiary: #222;
$quaternary: #ccc;

$greyDark: #7e7e7e;
$notflixRed: #cc3333;
$active: #ccc;

$primary-text: #fff;
$label-text: #777;
$text-shadow: #000;

// slidder image heights
$slidderImgSHeightSmallScreen: 190px;
// $slidderImgSHeightTabletteScreen: 180px;
$slidderImgSHeightLaptopScreen: 170px;
$slidderImgSHeightLaptopLargeScreen: 180px;

// $banner image heights
$bannerImgSHeightMobileSmall: 500px;
$bannerImgSHeightMobileMedium: 550px;
$bannerImgSHeightTabletteScreen: 600px;
$bannerImgSHeightLaptopScreen: 700px;
$bannerImgSHeightLaptopLargeScreen: 850px;

// max page width
$maxPageWidth: 1920px;

// breakpoints General
$mobileMedium: 425px;
$mobileXtraLarge: 600px;
$tablette: 768px;
$laptop: 1024px;
$laptopLarge: 1440px;
$Xtralarge: 1700px;
$XXtralarge: 1950px;
// burger menu collapse breakpoint
$burgerMenu: 880px;

/*variables used for modal details animation*/
$number-of-items: 5;
$items-animation-time: 1s;
$time-delay: calc($items-animation-time / $number-of-items);
/*calculates the delay time between each item based on the number of items & the total time of animation*/