.media {
  min-height: calc(90vh - 4rem);

	&__status {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 90vh;
		justify-content: center;
	}
	
	&__grid {
		margin-top: 4rem;
		width: 100%;
		max-width: $maxPageWidth;
		padding: 0rem 1.25rem;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}

	&__item {
		cursor: pointer;
		margin: 0.625rem 0rem;
		overflow: hidden;
		padding: 5px;
		position: relative;
		transition: transform 500ms;
		&::after {
			content: '';
			position: absolute;
			top: 10px;
			left: 10px;
			right: 12px;
			bottom: 10px;
			border-radius: 0.5rem;
			opacity: 0;
			transition: opacity 0.6s ease-out;
			z-index: 0;
			background: linear-gradient(
				180deg,
				rgba(255, 255, 255, 0) 0%,
				rgba(0, 0, 0, 1) 150%
			);
		}

		&:hover {
			transform: scale(1.075);
			z-index: 1;
			.row__buttonsContainer {
				transform: translateY(-10px);
			}
			&::after {
				opacity: 1;
			}
		}
	}
}

// MEDIA QUERIES for watch List
// breakpoints adjusted to match "react-slick" slidder breakpoints

@media (min-width: 461px) {
	.media__grid 
	 {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 769px) {
	.media__grid 
	 {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 1025px) {
	.media__grid 
	 {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (min-width: 1440px) {
	.media__grid 
	 {
		grid-template-columns: repeat(5, 1fr);
	}
}

@media (min-width: 1680px) {
	.media__grid 
	 {
		grid-template-columns: repeat(6, 1fr);
	}
}
