// CSS for modal buttons is in modal.scss
// CSS for movie card buttons in slidder is in mixins buttonHover

// CSS for play buttons & info button
.buttons {
	display: flex;
}

.button {
	align-items: center;
	border-radius: 5px;
	border: none;
	border: 1px solid white;
	color: $primary-text;
	display: flex;
	font-size: 14px;
	justify-content: center;
	margin: 20px 8px 4px 8px;
	opacity: 1;
	padding: 5px;
	width: 7rem;
	cursor: pointer;
	transition: 0.5s;
	&:hover, &:focus  {
		background-color: black;
		filter: invert(100%) sepia(100%) saturate(13%) hue-rotate(237deg)
			brightness(104%) contrast(104%);
	}

	img {
		margin-right: 0.5rem;
		width: 1.7rem;
	}

	&--play {
		background-color: $notflixRed;
		@include animateButtons;
	}

	&--info {
		background-color: $greyDark;
		@include animateButtons;
	}

	&--playModal {
		background-color: $notflixRed;
		// border: 1px solid white;
		width: 5.625rem;
		margin: 0.625rem 0.75rem;
		img {
			width: 1.5rem;
		}
	}
	&--action {
		background-color: $notflixRed;
		// border: 1px solid white;
		bottom: 0;
		font-size: 0.625rem;
		margin: 5px 0px 0px;
		position: relative;
		width: 3rem;
	}
}

// MEDIA QUERIES

@media (min-width: $tablette) {
	.button {
		font-size: 1rem;
		padding: 7px;

		&--play,
		&--info {
			width: 8rem;
		}
		&--playModal {
			width: 6rem;
		}
		&--action {
			font-size: 0.875rem;
			padding: 4px;
			width: 3rem;
		}
	}
}

@media (min-width: $laptopLarge) {
	.button {
		font-size: 1.125rem;
		padding: 7px;
		&--play,
		&--info {
			width: 9rem;
		}
		&--playModal {
			width: 6rem;
		}
		&--action {
			font-size: 1rem;
			padding: 4px;
			width: 3.5rem;
		}
	}
}


