.listGroup {
	list-style-type: none;
	margin: 0rem;
	overflow: hidden;
	padding: unset;
	text-overflow: ellipsis;
	white-space: nowrap;

	&__item {
		display: inline;
		font-size: 0.8rem;
		margin: 0px 5px;
		@include textShadow;
	}
}
