.listGroup {
	list-style-type: none;
	margin: 0rem;
	overflow: hidden;
	padding: unset;
	text-overflow: ellipsis;
	white-space: nowrap;

	&__item {
		display: inline;
		margin: 0px 5px;
		@include textShadow;

		&--slidder {
			font-size: 0.8rem;
		}

		&--modal {
			font-size: 0.9rem;
		}
	}
}

// MEDIA QUERIES

@media (min-width: $tablette) {
	.listGroup__item--modal {
		font-size: 1rem;
	}
}

