.videoModal {
	background-color: rgba(0, 0, 0, 0.7);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;


	&__body {
		background-color: $tertiary;
		border-radius: 5px;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		height: fit-content;
		padding: 5px;
		position: fixed;
		width: 95vw;
    align-items: center;
    display: flex;
    max-width: 1070px;
		// Hide scroll bar, but while still being able to scroll using CSS
		overflow-y: auto;
		&::-webkit-scrollbar {
			width: 0px !important;
		}
		overflow: -moz-scrollbars-none;
	}

	&__closeButton {
		aspect-ratio: 1;
		background-color: rgba(34, 34, 34, 0.8);
		border-radius: 1rem;
		border: 1px solid white;
		cursor: pointer;
		margin: 0px 5px 0px 5px;
		padding: 4px 2px 0px;
		position: absolute;
		right: 0.4rem;
		top: 0.7rem;
		width: 1.9rem;
		z-index: 2;

		&:hover {
			background-color: $primary-text;
			img {
				filter: unset;
				transition: filter 0.3s;
			}
		}
		img {
			filter: invert(100%) sepia(100%) saturate(13%) hue-rotate(237deg)
				brightness(104%) contrast(104%);
			transition: 0.3s;
			width: 0.7rem;
		}
	}

	// &__image {
	// 	border-radius: 5px 5px 0px 0px;
	// 	height: 400px;
	// 	object-fit: cover;
	// 	object-position: center top;
	// 	width: 100%;
	// }
	&__content {
		color: $primary-text;
		padding: 0px 10px 10px;
		position: relative;
    flex: 1;
		h1 {
			font-size: 1.6rem;
			font-weight: 500;
			margin: 0px;
		}
	}


}

// MEDIA QUERIES

// @media (min-width: $mobileXtraLarge) {
// 	.VideoModal {
// 		&__body {
// 			// max-height: 750px;
// 			// width: 590px;
// 		}
// 		&__image {
// 			height: 345px;
// 		}
// 	}
// }
