.modal {
	background-color: rgba(0, 0, 0, 0.7);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;

	&__body {
		padding: 5px;
		background-color: $tertiary;
		border-radius: 5px;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		height: 97vh;
		position: fixed;
		width: 95vw;
		// Hide scroll bar, but while still being able to scroll using CSS
		overflow-y: auto;
		&::-webkit-scrollbar {
			width: 0px !important;
		}
		overflow: -moz-scrollbars-none;
		// scrollbar-width: none;
	}

	&__closeButton {
		align-items: center;
		background-color: rgba(34, 34, 34, 0.8);
		border-radius: 1rem;
		border: 1px solid white;
		cursor: pointer;
		display: flex;
		justify-content: center;
		margin: 0px 5px 0px 5px;
		position: absolute;
		right: 0.4rem;
		top: 0.7rem;
		width: 1.9rem;
    aspect-ratio: 1/1;
		z-index: 2;

		&:hover,
		&:focus {
			background-color: $primary-text;
			img {
				filter: unset;
				transition: filter 0.3s;
			}
		}
		img {
			filter: invert(100%) sepia(100%) saturate(13%) hue-rotate(237deg)
				brightness(104%) contrast(104%);
			transition: 0.3s;
			width: 0.7rem;
		}
	}

	&__image {
		border-radius: 5px 5px 0px 0px;
		height: 400px;
		object-fit: cover;
		object-position: center top;
		width: 100%;
	}

	&__buttons {
		@include animateFadeIn;
		align-items: center;
		display: flex;
		justify-content: flex-start;
		position: absolute;
		top: 335px;
	}

	&__likeButton {
		@include buttonHover;
		align-items: center;
		background-color: rgba(34, 34, 34, 0.8);
		border-radius: 1rem;
		border: 1px solid white;
		cursor: pointer;
		display: flex;
		justify-content: center;
		margin: 0px 5px 0px 5px;
		width: 1.9rem;
    aspect-ratio: 1/1;
		img {
			aspect-ratio: 1/1;
			width: 1rem;
		}
	}

	&__content {
		color: $primary-text;
		padding: 0px 10px 10px;
		position: relative;
		h1 {
			font-size: 1.6rem;
			font-weight: 500;
			margin: 0px;
		}
		h2 {
			border-top: 2px solid $quaternary;
			font-size: 1.2rem;
			font-weight: 400;
			padding-top: 1rem;
		}
	}

	&__details {
		display: grid;
		grid-template-columns: 1fr 2fr;
		span {
			font-size: 0.9rem;
			padding: 5px 0px;
		}

		&__overview {
			@include animateDetails;
			font-size: 0.9rem;
			padding: 5px 0px;
		}

		&__label {
			@include animateDetails;
			color: $label-text;
			white-space: nowrap;
		}

		&__text {
			@include animateDetails;
			margin-left: 5px;
		}
		&__animate {
			// time delay based on position, fraction of the total time x1, x2, x3...
			@for $i from 1 through $number-of-items {
				&--#{$i} {
					animation-delay: $time-delay * $i;
				}
			}
		}
	}
}

// MEDIA QUERIES

@media (min-width: $mobileXtraLarge) {
	.modal {
		&__body {
			max-height: 750px;
			width: 590px;
		}
		&__image {
			height: 345px;
		}
		&__buttons {
			top: 290px;
		}
		&__content {
			h2 {
				font-size: 1.4rem;
			}
		}
		&__details {
			span {
				font-size: 1rem;
			}
			&__overview {
				font-size: 1rem;
			}
		}
	}
}

