.searchInput {
	position: relative;
	align-items: center;
	display: flex;
	// &:hover {
	// 	.searchInput__clearBtn {
	// 		opacity: 1;
	// 	}
	// }

	&__clearBtn {
		background: transparent;
		border: none;
		cursor: pointer;
		padding-top: 5px;
		position: absolute;
		right: 35px;
		// opacity: 0;
	}

	&__icon {
		width: 15px;
		aspect-ratio: 1;
	}

	&__magnify {
		border: none;
		background-color: transparent;
		cursor: pointer;
		filter: invert(100%) sepia(100%) saturate(13%) hue-rotate(237deg)
			brightness(104%) contrast(104%);
		img {
			padding-top: 5px;
			width: 20px;
			margin: unset;
		}
		&:hover {
			.menu form {
				opacity: 0;
			}
		}
	}

	input[type='text' i] {
		padding: 3px 5px;
		border-radius: 5px;
		font-size: clamp(0.9rem, 1vw, 1.1rem);
		font-family: 'Netflix';
	}
}
