.row {
	padding: 0rem 1.25rem;

	&__status {
		// row_status used for Loader & Loader Error message
		align-items: center;
		display: flex;
		flex-direction: column;
		height: $slidderImgSHeightSmallScreen;
		justify-content: center;
		img {
			width: 7.5rem;
		}
		p {
			margin: unset;
		}
	}

	&__moreLink {
		align-items: baseline;
		display: flex;
		margin-top: 2px;
	}

	&__button {
		background-color: transparent;
		border: none;
		color: $primary-text;
		cursor: pointer;
		font-size: clamp(1.1rem, 0.6rem + 1.6368vw, 1.5rem);
		font-weight: 500;
		margin-bottom: 0.5rem;
	}

	&__linkContainer {
		overflow: hidden;
			height: 22px;
	}

	&__link {
		color: $primary-text;
		margin: 0 0 8px;
		padding: 0px 6px;
		text-decoration: none;
		font-size: clamp(0.8rem,1.6368vw, 1.2rem);
		&:focus{
			color: $active;
		}
	}
}

// for React Slick Slider control arrows

.slick-prev {
	left: -1.2rem !important;
	z-index: 1;
}
.slick-next {
	right: -1.2rem !important;
	z-index: 1;
}

