.row {
	padding: 0rem 1.25rem;

	&__status {
		// row_status used for Loader & Loader Error message
		align-items: center;
		display: flex;
		flex-direction: column;
		height: $slidderImgSHeightSmallScreen;
		justify-content: center;
		img {
			width: 7.5rem;
		}
		p {
			margin: unset;
		}
	}

	&__title {
		font-weight: 500;
		margin-bottom: 0.5rem;
		font-size: clamp(1.1rem, 0.6rem + 1.6368vw, 1.5rem);
	}
}

// for React Slick Slider control arrows

.slick-prev {
	left: -1.2rem !important;
	z-index: 1;
}
.slick-next {
	right: -1.2rem !important;
	z-index: 1;
}

