.videoModal {
	background-color: rgba(0, 0, 0, 0.7);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;

	&__body {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $tertiary;
		border-radius: 5px;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		padding: 5px;
		position: fixed;
		width: 95vw;
		max-width: 1070px;
		// Hide scroll bar, but while still being able to scroll using CSS
		overflow-y: auto;
		&::-webkit-scrollbar {
			width: 0px !important;
		}
		overflow: -moz-scrollbars-none;
		scrollbar-width: none;
	}

	&__content {
		color: $primary-text;
		padding: 0rem 0.625rem 0.625rem;
		position: relative;
		flex: 1;
		h1, h2 {
			font-size: clamp(0.6rem, 0.6rem + 1.6368vw, 1.2rem);
			font-weight: 500;
			margin: 0px;
		}
	}

	&__closeButton {
		align-items: center;
		aspect-ratio: 1;
		background-color: rgba(34, 34, 34, 0.8);
		border-radius: 1rem;
		border: 1px solid white;
		cursor: pointer;
		display: flex;
		justify-content: center;
		margin: 0px 5px 0px 5px;
		position: absolute;
		right: 0.4rem;
		top: 0.7rem;
		width: clamp(1.3rem, 1.4rem + 1vw, 1.9rem);
		z-index: 2;

		&:hover, &:focus  {
			background-color: $primary-text;
			img {
				filter: unset;
				transition: filter 0.3s;
			}
		}
		img {
			filter: invert(100%) sepia(100%) saturate(13%) hue-rotate(237deg)
				brightness(104%) contrast(104%);
			transition: 0.3s;
			width: clamp(0.3rem, 0.4rem + 1vw, 0.7rem);
		}
	}

	&__noImage {
		object-fit: cover;
		object-position: center top;
		img {
			margin-top: 0.625rem;
			width: 100%;
		}
	}
}

// MEDIA QUERIES

@media only screen and 
(min-device-width: $mobileMedium) 
and (max-device-width: 920px) 
and (orientation: landscape) {
	.videoModal__body {
		width: 60vw;
		// height: 95vh;
	}
}
