/*FOOTER used on all pages*/

footer {
	animation: fade 1s both ease-in-out;
	border-top: 2px solid $quaternary;
	padding: 0rem 1.25rem;
  text-align: center;
  img {
    margin-top: 2rem;
		width: clamp(6rem, 9vw, 9rem);
	}
	p {
		margin: 1rem;
	}
}
