/*HEADER*/

.header {
	animation: fade 1s both ease-in-out;
	display: flex;
	position: fixed;
	width: 100%;
	padding: 0rem 1.25rem;
	z-index: 9999;
	align-items: center;
	font-size: clamp(1rem, 2vw, 1.5rem);
	transition: background-color 0.5s ease-out;
	a {
		color: $primary-text;
		text-decoration: none;
		margin: 0px 20px -10px 0px;
	}
	img {
		width: clamp(8rem, 12vw, 13rem);
	}
	&--active {
		background-color: $secondary;
		box-shadow: 0 2px 4px rgba(0, 0, 0, .8);
		transition: background-color 0.5s ease-out;
	}
}

.active {
  color: $quaternary;
}