// Load main sass from sass folder
@import './sass/main.scss';

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

/* Main elements of the page */
html,
body {
	min-height: 100vh;
	background: $secondary;
	color: white;
	font-size: 1rem;
	max-width: 1920px;
	margin: auto;
	// margin: 0;
	font-family: 'Netflix', Arial, 'Segoe UI', 'Roboto', 'Oxygen', serif,
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

main {
	animation: fade 1s both ease-in-out;
	margin-bottom: 5rem;
}
